<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <krex_config>
            <general>
                <enabled>1</enabled>
                <greeting_text>Hello from config!</greeting_text>
                <show_qty>1</show_qty>
                <qty_default_value>1</qty_default_value>
            </general>
        </krex_config>
    </default>
</config>
