<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="Amasty_KrexModule" translate="label" sortOrder="100000">
            <label>Amasty Krex Module</label>
        </tab>

        <section id="krex_config" translate="label" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Krex Module Config</label>
            <tab>Amasty_KrexModule</tab>
            <resource>Amasty_KrexModule::config</resource>

            <group id="general" translate="label" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enabled" type="select" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Is Module Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="greeting_text" type="textarea" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Greeting text</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>

                <field id="show_qty" type="select" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Show 'qty' field</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>

                <field id="qty_default_value" type="text" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>'qty' Default Value</label>
                    <validate>validate-not-negative-number</validate>
                    <depends>
                        <field id="show_qty">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
